<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    {{> partials/header}}
  </head>
  <body>
    <header>
      {{> partials/naving}}
    </header>
    <footer>
      {{> partials/ending}}
    </footer>
  </body>
</html>