<nav class="navbar navbar-expand-lg bg-light fixed-top" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand">MINI NETSERVICE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link {{#ItemActived}}active{{/ItemActived}}" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#ItemActived02}}active{{/ItemActived02}}" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#ItemActived03}}active{{/ItemActived03}}" href="/contactUs">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>