{{>layout/main}}
<div class="text-center p-5 m-5">
    <h2>Contact Us</h2>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-7">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Would you like to acquire some of our services?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <form id="formServices" class="justify-content-center m-5" action="" method="POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text px-4" id="inputGroup-sizing-default">E-mail</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Lastname</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Names</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Services</label>
                                <select class="form-select" id="inputGroupSelect01">
                                  <option selected>Choose...</option>
                                  <option value="1">50 Mbps</option>
                                  <option value="2">80 Mbps</option>
                                  <option value="3">120 Mbps</option>
                                  <option value="3">200 Mbps</option>
                                  <option value="3">300 Mbps</option>
                                  <option value="3">500 Mbps</option>
                                </select>
                            </div>
                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-primary px-4">Send</button>
                            </div>
                        </form>
                    </div>   
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Some recomendations that We can take.
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <form id="formRecommendation" class="justify-content-center m-5" action="/sendRecommendation" method="POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text px-4" id="inputGroup-sizing-default">E-mail</span>
                                <input name="email" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Lastname</span>
                                <input name="lastname" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Names</span>
                                <input name="names" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <textarea name="comment" class="form-control" id="txtArea-01" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Comments</label>
                                </div>
                            </div>
                            <div class="box-footer text-center">
                                <button id="submitBtn" type="submit" class="btn btn-primary px-4">Send</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Complaints
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <form id="formComplaints" class="justify-content-center m-5" action="/sendComplaint" method="POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text px-4" id="inputGroup-sizing-default">E-mail</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Lastname</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Names</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="mb-3">
                                <label for="fileInput" class="form-label">Select an image</label>
                                <input type="file" class="form-control" id="fileInput">
                            </div> 
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <textarea class="form-control" id="txtArea-01" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Comments</label>
                                </div>
                            </div>                           
                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-primary px-4">Send</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="d-grid">
                <div class="shadow bg-body rounded card" style="width: 17rem;">
                    <div class="card-body">
                        <h5 class="card-title">Contacts</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Number</h6>
                        <p class="card-text">+000 999 999 999 99</p>
                        <p class="card-text">+000 111 111 111 11</p>
                        <h6 class="card-subtitle mb-2 text-muted">E-mail</h6>
                        <p class="card-text">noreply@mininetservice.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">E-mail</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{#resultMessage}}
            {{resultMessage}}
        {{/resultMessage}}
      </div>
    </div>
</div>

{{>partials/ending}}