{{>layout/main}}

<div class="text-center p-5 m-5">
    <h2>Contact Us</h2>
</div>
<div class="container d-block">
    <div class="row">
        <div class="col-lg-5 m-lg-0 container justify-content-center shadow p-3 mb-5 bg-body rounded card">
            <div class="container text-center p-3">
                <h6 class="">Tell Us About You?</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="mb-3">
                            <input class="form-control" type="text" value="Services null" aria-label="readonly input example" readonly>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="dni" class="form-control" id="floatingInput" placeholder="Identity">
                            <label for="floatingInput">Identity</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="codStudent" class="form-control" id="floatingInput" placeholder="Lastname">
                            <label for="floatingInput">Lastname</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="numOrden" class="form-control" id="floatingInput" placeholder="Names">
                            <label for="floatingInput">Names</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="names" class="form-control" id="floatingInput" placeholder="Contact Number">
                            <label for="floatingInput">Contact Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="address" id="floatingInput" placeholder="Address"></textarea>
                            <label for="floatingInput">Address</label>
                        </div>
                        <div class="box-footer text-center">
                            <button type="submit" class="btn btn-outline-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="position-absolute m-lg-5 end-0 shadow p-3 mb-5 bg-body rounded card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <h6 class="card-subtitle mb-2 text-muted">Number</h6>
                <p class="card-text">+000 999 999 999 99</p>
                <p class="card-text">+000 111 111 111 11</p>
                <h6 class="card-subtitle mb-2 text-muted">E-mail</h6>
                <p class="card-text">noreply@mininetservice.com</p>
            </div>
        </div>
    </div>
</div>

{{>partials/ending}}