<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {{> partials/header}}
    </head>
    <body>
    <div class="container text-center p-5">
        <h1>Hello ADMIN</h1>
        <div class="d-flex justify-content-end">
        <form action="/restricted/admin/overview/logout" method="POST">
            <div class="p-2">
                <button type="submit" class="btn btn-warning">Log out</button>
            </div>
        </form>
        </div>
    </div>
    </body>
</html>

