{{>layout/main}}

<div class="text-center p-5 m-5">
    <h2>Services</h2>
</div>

<div class="container text-center">
    <h4 class="p-4">CLASSIC</h4>
    <div class="row">
        <div class="shadow-lg p-3 mb-5 bg-body rounded m-auto card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">50 Mbps</h5>
              <h2 class="card-subtitle mb-2 text-muted">$10</h2>
              <h6 class="card-text">by month</h6>
              <p class="card-text"></p>
              <ul class="list-group list-group-flush">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="checked">✓</span>
                    <li class="form-control list-group-item" aria-describedby="checked">Smooth Streaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Fast Browsing</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">File Downloads</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Online Gaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Multi Connections</li>
                </div>
              </ul>
              <a href="/global/contactUs" class="btn btn-outline-primary">Request</a>
            </div>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded m-auto card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">80 Mbps</h5>
              <h2 class="card-subtitle mb-2 text-muted">$17</h2>
              <h6 class="card-text">by month</h6>
              <p class="card-text"></p>
              <ul class="list-group list-group-flush">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">High-Quality Streming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Efficient Telecommuting</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">File Transfers</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Enhanced Online Gaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Smart Home</li>
                </div>
              </ul>
              <a href="/global/contactUs" class="btn btn-outline-primary">Request</a>
            </div>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded m-auto card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">120 Mbps</h5>
              <h2 class="card-subtitle mb-2 text-muted">$20</h2>
              <h6 class="card-text">by month</h6>
              <p class="card-text"></p>
              <ul class="list-group list-group-flush">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Advanced Streaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Seamless VPN access</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Fast Uploads</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">High-Quality Gaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Advanced Smart Home</li>
                </div>
              </ul>
              <a href="/global/contactUs" class="btn btn-outline-primary">Request</a>
            </div>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded m-auto card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">200 Mbps</h5>
              <h2 class="card-subtitle mb-2 text-muted">$55</h2>
              <h6 class="card-text">by month</h6>
              <p class="card-text"></p>
              <ul class="list-group list-group-flush">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Premium Streaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Comprehensive Telecommuting</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Advanced Fast Uploads</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">High-End Gaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Multi-User Connection</li>
                </div>
              </ul>
              <a href="/global/contactUs" class="btn btn-outline-primary">Request</a>
            </div>
        </div>
    </div>
    <h4 class="p-lg-5">OPTICAL FIBER</h4>
    <div class="row">
        <div class="shadow-lg p-3 mb-5 bg-body rounded m-auto card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">300 Mbps</h5>
              <h2 class="card-subtitle mb-2 text-muted">$65</h2>
              <h6 class="card-text">by month</h6>
              <p class="card-text"></p>
              <ul class="list-group list-group-flush">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Seamless Streaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">High-Speed Downloads</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Low-Latency Gaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Multiple Device Connectivity</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Video Conferencing</li>
                </div>
              </ul>
              <a href="/global/contactUs" class="btn btn-outline-primary">Request</a>
            </div>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded m-auto card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">500 Mbps</h5>
              <h2 class="card-subtitle mb-2 text-muted">$80</h2>
              <h6 class="card-text">by month</h6>
              <p class="card-text"></p>
              <ul class="list-group list-group-flush">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Superior Streaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Ultra-Fast Downloads</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Seamless Online Gaming</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">Smart Home Integration</li>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="checked">✓</span>
                  <li class="form-control list-group-item" aria-describedby="checked">High-Resolution Video Calls</li>
                </div>
              </ul>
              <a href="/global/contactUs" class="btn btn-outline-primary">Request</a>
            </div>
        </div>
    </div>
</div>

{{>partials/ending}}